.svn
.hg
.cvs
.bzr

*.pyc

# osx
*.app
*.mode1v3
*.pbxuser
.DS_Store
build
xcuserdata
DerivedData
project.xcworkspace

# win
obj
*.dll
*.lib
*.exp
*.exe
*.pdb
*.*sdf
*.suo
*.ilk

#eagle
*.b#*
*.s#*
*.l#*
gerber

*.zip

#directory
ignore
devApps

#embedXcode
Builds
*.a
*.d
*.o
*.elf
*.hex

#MOTIONER
*.mot